@charset "utf-8";
/* CSS Document */
/*Global*/
html {font-family: 'Montserrat', sans-serif; overflow-y:scroll;overflow-x: hidden;}
body {width: 100%;margin: 0;}
p.help-block {
    line-height: 50%;
}
.col-centered{
    float: none;
    margin: 0 auto;

    margin-bottom:15px;
}
.fileinfo {
    margin-left: 15px;
}
.deletebox{
    margin-top: 10px;
    margin-right: 15px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*Header*/
.navbar-brand{padding-left:30px;}
.nav{padding-left:30px;padding-right:30px;margin:0px;}
.navbar-collapse{padding: 0;}

/*Panel*/
.panel {width:300px;}

/*Container*/
.container {margin-top:35px;}
.container-fluid { 
  padding-right:0;padding-left:0;
  width:100%;
}

/*Well*/

.well.upload {border: 2px dashed #DDD;}

/*File report*/
.filereport{
 position: relative;
 overflow-x: scroll;
 background-color: #f2f2f2;
 padding-top:50px;
 padding-left:50px;
 padding-right:50px;
 width:100%;
 height:90vh;
}
.closereport{
    position:fixed;
    width:100%;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    height: 10vh;
    background-color: #e6e6e6;
    -webkit-transition: background-color 1s;
}
.closereport:hover{

    width:100%;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    height: 10vh;
    background-color: #cccccc;
}
