@charset "utf-8";
/* CSS Document */
/*Global*/
html {font-family: 'Montserrat', sans-serif; overflow-y:scroll;}
body {}
p.help-block {
    line-height: 50%;
}
.fileinfo {
    margin-left: 15px;
}
.deletebox{
    margin-top: 10px;
    margin-right: 15px;
}
/*Header*/
#logo {width: inherit;}
#logo h1{font-size: 35px;}
#logo a {color: #00B7FF;}

/*Panel*/
.panel {width:300px;}

/*Container*/
.container {margin-top:35px;}

/*Well*/
.well {border: 2px dashed #DDD;}

/*File report*/
.filereport{
 background-color: #f2f2f2;
 padding-top:50px;
 padding-left:50px;
 padding-right:50px;
 height: 500px;
}
.closereport{
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: #e6e6e6;
    -webkit-transition: background-color 1s;
}
.closereport:hover{
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: #d9d9d9;
}
.report-table{

}
/*Forms*/
input[type="submit"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 18px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
input[type="submit"]:hover{background: #109177;}