@charset "utf-8";
/* CSS Document */
/*Global*/
html {font-family: 'Montserrat', sans-serif; overflow-y:scroll;}
body {}

/*Header*/
#logo {width: inherit;}
#logo h1{font-size: 35px;}
#logo a {color: #00B7FF;}

/*Panel*/
.panel {width:300px;}

/*Pre*/
.well {border: 2px dashed #DDD;}
/*Forms*/
input[type="submit"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 18px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
input[type="submit"]:hover{background: #109177;}