<div class="page-header text-center">
		<h1>Upload you .csv file <i class="fa fa-upload" aria-hidden="true"></i></h1>
</div>
<!-- Upload form -->
<div id="upload-form" class="row">
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<form>
			<div class="form-group text-center">
				<input type="file" class="form-control input-lg text-center" ng-model="formData.text">
				<p class="help-block">Select or drag and drop a .csv file here.</p>
			</div>
			
			<button type="submit" class="btn btn-primary btn-lg" ng-click="uploadCSV()">Upload CSV</button>
		</form>
	</div>
</div>